/* 전체 레이아웃 */
.App {
  display: flex;
}

/* 사이드바 스타일 */
.sidebar {
  width: 250px;
  background-color: #2c2c2c;
  color: white;
  height: 100vh;
  position: fixed;
  top: 0;
  left: -250px; /* 기본적으로 화면에서 숨김 */
  transition: left 0.3s ease;
  z-index: 1000; /* 모바일에서 사이드바가 위로 보이도록 */
}

.sidebar.open {
  left: 0; /* 메뉴가 열리면 보이도록 설정 */
}

.sidebar ul {
  list-style-type: none;
  padding: 20px;
}

.sidebar ul li {
  margin: 20px 0;
}

.sidebar ul li a {
  color: white;
  text-decoration: none;
}

/* 햄버거 메뉴 버튼 */
.menu-toggle {
  background-color: #2c2c2c;
  color: white;
  border: none;
  font-size: 30px;
  cursor: pointer;
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 1001; /* 사이드바보다 위에 보이도록 설정 */
}

/* 메인 콘텐츠 */
.main-content {
  margin-left: 250px;
  padding: 20px;
  width: calc(100% - 250px);
  transition: margin-left 0.3s ease;
}

@media (max-width: 768px) {
  .sidebar {
    left: -250px; /* 모바일에서는 숨겨진 상태 */
  }

  .sidebar.open {
    left: 0; /* 모바일에서 메뉴가 열리면 보임 */
  }

  .main-content {
    margin-left: 0; /* 모바일에서 메뉴 숨길 때 전체 너비 사용 */
    width: 100%;
  }

  .menu-toggle {
    display: block; /* 모바일에서만 햄버거 메뉴 버튼 보이기 */
  }
}
