/* 전체 레이아웃 */
.main-App {
    display: flex;
}

/* 사이드바 스타일 */
.main-sidebar {
    width: 250px;
    background-color: #2c2c2c;
    color: white;
    height: 100vh;
    position: fixed;
    top: 0;
    left: -250px; /* 기본적으로 화면에서 숨김 */
    transition: left 0.3s ease;
    z-index: 1000;
}

.home-button {
    padding: 1rem 2.5rem;
    font-size: 1.5rem;
    color: #fff;
    background-color: #2c2c2c;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 20px;
}

.main-sidebar.open {
    left: 0; /* 메뉴가 열리면 보이도록 설정 */
}

.main-sidebar ul {
    list-style-type: none;
    padding: 20px;
}

.main-sidebar ul li {
    margin: 20px 0;
}

.main-sidebar ul li a {
    color: white;
    text-decoration: none;
}

/* 햄버거 메뉴 버튼 */
.main-menu-toggle {
    background-color: #2c2c2c;
    color: white;
    border: none;
    font-size: 30px;
    cursor: pointer;
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 1001;
}

/* 메인 콘텐츠 */
.main-main-content {
    margin-left: 250px;
    width: calc(100% - 250px);
    height: 100vh;
    display: flex;
    justify-content: center; /* 수평 가운데 정렬 */
    align-items: flex-start; /* 상단에 정렬 */
    flex-direction: column;
    transition: margin-left 0.3s ease;
    text-align: center;
}

.main-App-header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding-top: 20px; /* 추가적인 상단 여백 */
}

.main-App-header h1 {
    margin-bottom: 20px;
}

.main-canvas {
    margin-top: 20px;
    max-width: 100%;
    border: 1px solid #000000;
}

/* 미디어 쿼리: 모바일용 */
@media (max-width: 768px) {
    .main-sidebar {
        left: -250px; /* 모바일에서는 숨겨진 상태 */
    }

    .main-sidebar.open {
        left: 0; /* 모바일에서 메뉴가 열리면 보임 */
    }

    .main-main-content {
        margin-left: 0; /* 모바일에서 메뉴 숨길 때 전체 너비 사용 */
        width: 100%;
        padding-top: 25px;
    }

    .main-menu-toggle {
        display: block;
    }
}
