/* 전체 레이아웃 */
.App {
    display: flex;
}

/* 사이드바 스타일 */
.sidebar {
    width: 250px;
    background-color: #2c2c2c;
    color: white;
    height: 100vh;
    position: fixed;
    top: 0;
    left: -250px; /* 기본적으로 화면에서 숨김 */
    transition: left 0.3s ease;
    z-index: 1000;
}

.sidebar.open {
    left: 0; /* 메뉴가 열리면 보이도록 설정 */
}

.sidebar ul {
    list-style-type: none;
    padding: 20px;
}

.sidebar ul li {
    margin: 20px 0;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px; /* 링크 텍스트 크기 */
}

/* 햄버거 메뉴 버튼 */
.menu-toggle {
    background-color: #2c2c2c;
    color: white;
    border: none;
    font-size: 30px;
    cursor: pointer;
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 1001;
}

/* 메인 콘텐츠 */
.main-content {
    min-height: calc(100vh - 40px); /* 화면 높이에 맞게 설정, 상단 및 기타 패딩 고려 */
    display: flex;
    justify-content: center; /* 수평 가운데 정렬 */
    align-items: flex-start; /* 상단에 정렬 */
    flex-direction: column;
    padding: 20px; /* 추가적인 여백 */
    margin-left: 250px;
    width: calc(100% - 250px);
    transition: margin-left 0.3s ease;
    text-align: center;
    box-sizing: border-box;
}


.App-header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding-top: 20px;
}

.App-header h1 {
    margin-bottom: 20px;
    font-size: 24px;
}

canvas {
    margin-top: 20px;
    max-width: 100%;
    border: 1px solid #000000;
}

/* 도구 컨테이너 스타일 */
.tool-container {
    display: flex;
    align-items: center;
    gap: 8px; /* 요소 간 간격 */
    margin-bottom: 10px;
}

.tool-container input[type="color"],
.tool-container input[type="range"],
.tool-container button,
.tool-container input[type="file"] {
    height: 36px; /* 모든 요소 동일 높이 */
    padding: 0 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
}

/* 파일 입력 버튼 스타일 조정 */
.tool-container input[type="file"] {
    width: auto;
    padding: 0;
    background-color: #f0f0f0; /* 다른 버튼들과 동일한 배경색 */
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 36px;
    font-size: 14px;
    cursor: pointer;
}

.tool-container button {
    background-color: #f0f0f0;
}

.tool-container input[type="range"] {
    width: 100px; /* 슬라이더 너비 조정 */
}

/* 버튼 컨테이너 스타일 */
.button-container {
    display: flex;
    gap: 10px; /* 버튼 간격 */
    margin-top: 20px;
}


/* 미디어 쿼리: 모바일용 */
@media (max-width: 768px) {
    .sidebar {
        left: -250px; /* 모바일에서는 숨겨진 상태 */
    }

    .sidebar.open {
        left: 0; /* 모바일에서 메뉴가 열리면 보임 */
    }

    .main-content {
        margin-left: 0; /* 모바일에서 메뉴 숨길 때 전체 너비 사용 */
        width: 100%;
        padding-top: 25px;
    }

    .menu-toggle {
        display: block;
    }

    .tool-container input[type="range"] {
        width: 80px; /* 모바일에서 슬라이더 너비 조정 */
    }
}
